<section style="margin: 5%">
  <div>
    <h1>Sample Form</h1>
    <br />
    <h4>Step 1 - Fill the form below to generate a PDF.</h4>
    <h4>Step 2 - Download the PDF by clicking on 'Generate' button.</h4>
    <h4>
      Step 3 - Print the paper, sign it physically and transfer it to this
      computer or e-Sign the PDF.
    </h4>
    <h4>
      Step 4 - Upload the signed PDF by clicking on the 'Choose File' button.
    </h4>
  </div>
  <br />
  <div style="display: flex">
    <label style="margin-right: 1%">Name</label>
    <input type="text" [(ngModel)]="data.name" />
  </div>
  <br />

  <div style="display: flex">
    <label style="margin-right: 1%">Email</label>
    <input type="text" [(ngModel)]="data.email" />
  </div>
  <br />

  <div style="display: flex">
    <label style="margin-right: 1%">Phone</label>
    <input type="text" [(ngModel)]="data.phone" />
  </div>
  <br />

  <div style="display: flex; align-items: center">
    <button style="margin-right: 1%" type="button" (click)="generate()">
      Generate
    </button>
    <p>{{ message }}</p>
  </div>
  <br />

  <div style="display: flex">
    <input
      type="file"
      id="filename"
      name="filename"
      accept=".pdf"
      (change)="onFileChange($event)"
    />
  </div>
</section>

<section style="margin: 5%">
  {{ data | json }}
</section>
<br />

<section style="margin: 5%; display: none">
  <div id="generatedHtml" #generatedHtml></div>
</section>
